@model IEnumerable<string>

<!--NO LONGER USING AS IT IS NOW IRRELAVENT GIVEN NAVIGATIONBAR-->

@foreach (string category in Model)
{<a class="btn btn-block m-2
    @(category == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-dark")"
    asp-action="List"
    asp-controller="Product"
    asp-route-category="@category"
    asp-route-page="1">
        @category
    </a>
}
