@{
    Layout = "_ReducedLayout";
    ViewBag.Title = "About Us";
}
<style>
    .div-overflow {
        position: relative;
    }
    .p-s
    {
        font-size:28px;
    }
    .Exe-Img
    {
        height:400px;
        width:100%;
    }
</style>
<div class="container div-overflow">
    <div class="row" style="padding-top: 10px">
        <div class="col-md-4">
            <img class="navbar-brand text-black-50" src="~/Images/Our-Story Store.jpg" style="width:100%" alt="Pizza" />
            <img class="navbar-brand text-black-50" src="~/Images/OurStory-InfoGraphic.png" style="margin-top:10px; max-width:100%" />
        </div>
        <div class=" col-md-8 text-body">
            <h1>Our Story</h1>
            <p class="p-s">
                <b>Who We Are</b>
                <br />
                There’s nothing cookie-cutter about Pizza Hut. Not our pizzas. Not our people. And definitely not the way we live life. Around here, we don’t settle for anything less than food we’re proud to serve.
                And we don’t just clock in. Not when we can also become our best, make friends, and have fun while we’re at it.&nbsp;
                <strong>We’re the pizza company that lives life unboxed.</strong>
            </p>
            <p class="p-s">
                We’re not for people who want to blend in: pushing boundaries is part of our heritage. We have more than 16,000 restaurants and 350,000 team members in more than 100 countries.
                Whether it’s the original Stuffed Crust or putting a pizza in outer space, we never stop driving ourselves to deliver hot pizzas, fast every time – anywhere you want to enjoy it.
            </p>
            <p class="p-s">
                <b>What We Are About</b>
                <br />
                At Pizza Hut, we don’t just make pizza. We make people happy. Pizza Hut was built on the belief that pizza night should be special, and we carry that belief into everything we do. With more than 60 years of experience under our belts,
                we understand how to best serve our customers through tried and true service principles:&nbsp;
                <strong>We create food we’re proud to serve and deliver it fast, with a smile.</strong>
            </p>
            <p class="p-s">
                <b>Where We Come From</b>
                <br />
                In 1958, two brothers borrowed $600 from their mom to open a pizza place in Wichita, Kansas. They named it Pizza Hut, because their sign only had room for eight letters. How profound!
            </p>
            <p class="p-s">Soon, the restaurant grew. Why? The pizza was awesome. The service felt like home. And the customers were treated like family.</p>
            <p class="p-s">And we’ve been delivering that same food and service ever since.</p>
            <p class="p-s">
                <b>For The Love Of Pizza Since 1958</b>
                <br />
                From day one, the Carney brothers could look their customers in the eye and promise them the finest pizza in town — because they knew the farmers who grew the ingredients, and they knew those farmers cared about quality.
            </p>
            <p class="p-s">
                Since then, our farmers have grown right alongside us, and the ingredients we use are still our highest priority. No one loves pizza more than Pizza Hut. That’s why pizza is in our name — and always will be.
            </p>
        </div>
    </div>
    <h1 class="text-center">Executive Board Members</h1>
    <div class="row" style="padding-top: 10px">
        <div class="col-md-4">
            <img class="navbar-brand text-black-50 Exe-Img" src="~/Images/Nicholas-S_PLACEHOLDER.png" alt="Nicholas Smith" />
            <p class="text-center">Nicholas Smith</p>
        </div>
        <div class="col-md-4">
            <img class="navbar-brand text-black-50 Exe-Img" src="~/Images/Aubrey-S_PLACEHOLDER.PNG" alt="Aubrey Stevenson" />
            <p class="text-center">Aubrey Smith</p>
        </div>
        <div class="col-md-4">
            <img class="navbar-brand text-black-50 Exe-Img" src="~/Images/Nick-C_PLACEHOLDER.PNG" alt="Nicholas Cousar" />
            <p class="text-center">Nicholas Colt</p>
        </div>
    </div>
    <div class="row" style="padding-top:10px">
        <div class="col-md-6">
            <p>
                <b>Tax Policy</b>
                <br />
                The tax rate for your purchase is 10% of the subtotal of your order.
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <b>Shipping/Delivery Policy</b>
                <br />
                Delivery fees are set by individual restaurants. When you register for Internet Ordering, the system assigns each address you provide with a single Pizza Hut delivery location.
                If you request delivery service from multiple addresses online, the fee may vary because you may be ordering from a different Pizza Hut location.
                The delivery fee is, however, always the same online as it is offline.
            </p>
        </div>
    </div>
    <p class="text-center" style="padding-bottom:50px; padding-top:10px">
        <b>Reference for information</b>
        <br />
        https://blog.pizzahut.com/our-story/
    </p>
</div>
